<a href="https://colab.research.google.com/github/yamini4rawat/N_python_code/blob/master/Uploading_a_file_onto_collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Collab from google gives us the platform to run and work on our deep neural networks. For running AI and deep neural nets algoritm we need to set up our machine with n number of pakages like the theano, tensor flow,Scipy and n number of platforms . Setting our local system up could always be a problem therfore we can use google collaboratory for running deep neural nets and save time. 


Mount the content of your google drive and give authentication.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os   #import os package and navigate to MY Drive.

In [0]:
os.chdir("/content/drive/")

In [0]:
!ls

'My Drive'

In [0]:
os.chdir("/content/drive/My Drive")

In [0]:
!ls

 1527251565386Resume_yamini.docx   IMG_20190429_095636645_HDR.jpg
'acc,`,`,`--;;;;.gdoc'		   IMG_20190429_095705809_HDR.jpg
"akshay's software"		   IMG_20190429_095717459.jpg
 cifar-10-python.tar.gz		   IMG_20190429_095723862.jpg
'Colab Notebooks'		   IMG_20190429_095730189.jpg
'Document from Yamini.gdoc'	   IMG_20190429_095735098.jpg
'Document from Yamini.pdf'	   IMG_20190429_095741573_HDR.jpg
 EVA				   IMG_20190429_095750049_HDR.jpg
 house_rent.jpg			   IMG_20190429_095808902.jpg
 IMG_20190301_091613873.jpg	   IMG_20190429_095816857.jpg
 IMG_20190301_181444139.jpg	   IMG_20190429_095827928.jpg
 IMG_20190301_181517744.jpg	   IMG_20190429_095832765.jpg
 IMG_20190301_181529215.jpg	   IMG_20190429_095911027_HDR.jpg
 IMG_20190301_181551188.jpg	   IMG_20190429_095918115_HDR.jpg
 IMG_20190301_181553008.jpg	   IMG_20190429_095929188_HDR.jpg
 IMG_20190301_181649283.jpg	   IMG_20190429_095938378_HDR.jpg
 IMG_20190301_181657963.jpg	   IMG_20190429_100000551.jpg
 IMG_20190301_181804089.jpg	   IMG_20190429_100112247.jpg
 IMG_20190301_181931969.jpg	   IMG_20190429_100146921_HDR.jpg
 IMG_20190301_182257647.jpg	   IMG_20190429_100156055_HDR.jpg
 IMG_20190301_182330335.jpg	   IMG_20190429_100218779_HDR.jpg
 IMG_20190301_182332073.jpg	   IMG_20190429_100241535_HDR.jpg
 IMG_20190301_182342501.jpg	   IMG_20190429_100246933_HDR.jpg
 IMG_20190301_182428369.jpg	   IMG_20190429_100251010.jpg
 IMG_20190301_182548156.jpg	   IMG_20190429_100327580_HDR.jpg
 IMG_20190301_182625702.jpg	   IMG_20190429_100406811_HDR.jpg
 IMG_20190301_182738745.jpg	   LSTM_Example.csv
 IMG_20190301_183055944.jpg	   modified.docx
 IMG_20190301_183057108.jpg	   modified.gdoc
 IMG_20190429_095537800_HDR.jpg    new1
 IMG_20190429_095544839_HDR.jpg    resnet50_tinyimagenet.csv
 IMG_20190429_095616364_HDR.jpg   'YAmini RAwat  - Copy.docx'
 IMG_20190429_095626358.jpg	  'Yamini resume-.pdf'

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("LSTM_Example.csv") # LSTM_Example is already uploaded on the goodle drive . Access it by navigating to My Dive.

In [0]:
data.head()

   Month  Sales
0  1-Jan  266.0
1  2-Jan  145.9
2  3-Jan  183.1
3  4-Jan  119.3
4  5-Jan  180.3

In [0]:
data

     Month  Sales
0    1-Jan  266.0
1    2-Jan  145.9
2    3-Jan  183.1
3    4-Jan  119.3
4    5-Jan  180.3
5    6-Jan  168.5
6    7-Jan  231.8
7    8-Jan  224.5
8    9-Jan  192.8
9   10-Jan  122.9
10  11-Jan  336.5
11  12-Jan  185.9
12   1-Feb  194.3
13   2-Feb  149.5
14   3-Feb  210.1
15   4-Feb  273.3
16   5-Feb  191.4
17   6-Feb  287.0
18   7-Feb  226.0
19   8-Feb  303.6
20   9-Feb  289.9
21  10-Feb  421.6
22  11-Feb  264.5
23  12-Feb  342.3
24   1-Mar  339.7
25   2-Mar  440.4
26   3-Mar  315.9
27   4-Mar  439.3
28   5-Mar  401.3
29   6-Mar  437.4
30   7-Mar  575.5
31   8-Mar  407.6
32   9-Mar  682.0
33  10-Mar  475.3
34  11-Mar  581.3
35  12-Mar  646.9